.license {
    padding: 80px 0;
    &__img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__img {
        width: 320px;
        @media (max-width: 400px) {
            width: 90dvw;
        }
    }
}
