@import "../../../variables.scss";
@import "../../../mixins.scss";

.search-page {
    &__header {
        @include header;

        &::before {
            @include before;
        }

        &::after {
            @include after;
        }
    }

    &__wrapper {
        @include wrapper;
    }
    &__breadcrumb {
        @include breadcumb;
    }

    &__heading {
        @include heading;
        @media (max-width: 992) {
            font-size: 24px;
        }
    }

    &__link {
        @include link;
        svg {
            width: 15.74px;
            height: 14px;
        }
    }

    &__dash {
        @include dash;
    }

    &__span {
        @include span;
    }

    &__row {
        @include row;
        @media (max-width: 1580px) {
            grid-template-columns: repeat(5, 233px);
        }
        @media (max-width: 1340px) {
            grid-template-columns: repeat(4, 233px);
        }
        @media (max-width: 1150px) {
            grid-template-columns: repeat(4, 200px);
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 200px);
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 233px);
        }

        img {
            height: 300px;
        }
    }
}
