@import "../../../variables.scss";

.scroll-top {
    position: fixed;
    right: 30px;
    width: 45px;
    height: 45px;
    background: $color3;
    color: $color2;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 1s;
}
